.container {
  min-height: 100vh;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow: hidden;
  max-width: 1200px;
  margin: auto;
}

.main {
  padding: 0 1rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.title {
  text-align: center;
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;

  a {
    color: #0070f3;
    text-decoration: none;

    a:hover,
    a:focus,
    a:active {
      text-decoration: underline;
    }
  }
}

.description {
  display: inline;
  position: relative;
  top: -1.5rem;

  text-align: center;
  line-height: 1;
  font-size: 1.5rem;
}

.footer {
  width: 100%;
  height: 2rem;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    margin-left: 0.5rem;
  }

  a {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  flex-direction: column;
  margin-top: 3rem;

  @media (min-width: 600px) {
    flex-direction: row;
    max-width: 90%;
  }
}

.logo {
  height: 1em;
}

.slider {
  width: 80%;
  margin: auto;
}

.spinner {
  position: fixed;
  width: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 9999;
  display: block;

  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  &::after {
    content: '';
    display: block;
    position: absolute;
    left: 48%;
    top: 40%;
    width: 40px;
    height: 40px;
    border-style: solid;
    border-color: black;
    border-top-color: transparent;
    border-width: 4px;
    border-radius: 50%;
    animation: spin 0.8s linear infinite;
  }
}
